@keyframes rotate0to90{
    from{transform: rotate(0);}
    to{transform: rotate(90deg);}
}
@keyframes rotate90to0{
    from{transform: rotate(90deg);}
    to{transform: rotate(0);}
}
@keyframes close-morebar{
    from{left: 0; box-shadow: 0;}
    to{left: -300px; box-shadow: 0 0 20px -8px #666666;}
}
@keyframes show-morebar{
    from{left: -300px; box-shadow: 0 0 20px -8px #666666;}
    to{left: 0; box-shadow: 0;}
}
@keyframes close-write{
    from{left: 100px;}
    to{left: 100vw; }
}
@keyframes show-write{
    from{left: 100vw;}
    to{left: 100px;}
}
@keyframes show-morebar-mask{
    from{opacity: 0;}
    to{opacity: 0.6;}
}
@keyframes close-morebar-mask{
    from{opacity: 0.6;}
    to{opacity: 0;}
}
@keyframes show-ani{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes close-ani{
    from{opacity: 1;}
    to{opacity: 0;}
}
@keyframes long-ani{
    from{width: 0;}
    to{width: 100%;}
}
@keyframes short-ani{
    from{width: 100%;}
    to{width: 0;}
}

@keyframes toReg{
    from{background-image: url("http://q7fplcgtx.bkt.clouddn.com/image/login_head.jpg");}
    to{background-image: url("http://q7fplcgtx.bkt.clouddn.com/image/reg_head.jpg");}
}
@keyframes toLogin{
    from{background-image: url("http://q7fplcgtx.bkt.clouddn.com/image/reg_head.jpg");}
    to{background-image: url("http://q7fplcgtx.bkt.clouddn.com/image/login_head.jpg");}
}

@keyframes like{
    0%{transform: scale(1)}
    50%{transform: scale(1.5)}
    100%{transform: scale(1);}
}

@keyframes tabclick{
    0%{ background-size: 0; opacity: 1;}
    5%{ background-size: 1vw; }
    10%{ background-size: 2vw; }
    15%{ background-size: 4vw; }
    20%{ background-size: 8vw; }
    25%{ background-size: 12vw; }
    30%{ background-size: 18vw; }
    35%{ background-size: 24vw; }
    40%{ background-size: 30vw; }
    45%{ background-size: 36vw; }
    50%{ background-size: 42vw; }
    55%{ background-size: 46vw; }
    60%{ background-size: 50vw; }
    65%{ background-size: 52vw; }
    70%{ background-size: 54vw; }
    75%{ background-size: 56vw; }
    80%{ background-size: 58vw; }
    85%{ background-size: 60vw; }
    90%{ background-size: 60vw; }
    95%{ background-size: 60vw; }
    100%{ background-size: 60vw; opacity: 0;}
}